{
    "plugins": ["prettier-plugin-tailwindcss"],
    "tabWidth": 4,
    "printWidth": 600,
    "htmlWhitespaceSensitivity": "ignore",
    "singleAttributePerLine":false,
    "overrides": [
    {
      "files": "*.css",
      "options": { "printWidth": 9999 }
    },
    {
      "files": "*.scss",
      "options": { "printWidth": 9999 }
    }
  ]
}