/* Import Tailwind CSS framework */
@import "tailwindcss";
/* Custom variant for dark mode support */
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
    /* ==============================
       Global Typography
    ============================== */
    --default-font-family: "Inter", sans-serif; /* Primary font for the application */
    --font-sizes: {
        xs: 0.75rem,
        sm: 0.875rem,
        base: 1rem,
        lg: 1.125rem,
        xl: 1.25rem,
        2xl: 1.5rem,
        3xl: 1.875rem,
        4xl: 2.25rem
    };

    /* ==============================
       Color Palette
    ============================== */
    --color-default: #f5f4f4; /* Default color */
    --color-primary: #006fee; /* Primary color */
    --color-secondary: #6d28d9; /* Secondary color */
    --color-success: #22c55e; /* Success color */
    --color-warning: #f59e0b; /* Warning color */
    --color-danger: #f31260; /* Danger color */
    --color-info: #3b82f6 ; /* Info color */
    --shadow-md: rgba(145, 158, 171, 0.2) 0px 0px 2px 0px, rgba(145, 158, 171, 0.12) 0px 12px 24px -4px;
    --shadow-tab: 0 6px 15px -3px rgb(0 0 0 / .1), 0 0 6px -4px rgb(0 0 0 / .1);
    /* ==============================
       Layout & Sizing
    ============================== */
    --hover-opacity: 0.8; /* Default hover effect opacity */
    --aside-width: 280px; /* Default sidebar width */
    --default-transition-duration: 250ms;
}

@layer base {
    /* ==============================
       Base Styles for Typography
    ============================== */
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 600;
    }
    h1 {
        font-size: var(--text-4xl);
    }
    h2 {
        font-size: var(--text-3xl);
    }
    h3 {
        font-size: var(--text-2xl);
    }
    h4 {
        font-size: var(--text-xl);
    }
    h5 {
        font-size: var(--text-lg);
    }
    h6 {
        font-size: var(--text-base);
    }
    .display-1,
    .display-2,
    .display-3,
    .display-4,
    .display-5,
    .display-6 {
        font-weight: 300;
        line-height: 1.2;
    }
    .display-1 {
        font-size: var(--text-9xl);
    }
    .display-2 {
        font-size: var(--text-8xl);
    }
    .display-3 {
        font-size: var(--text-7xl);
    }
    .display-4 {
        font-size: var(--text-6xl);
    }
    .display-5 {
        font-size: var(--text-5xl);
    }
    .display-6 {
        font-size: var(--text-4xl);
    }
    .subtitle-1 {
        font-size: var(--text-base);
        line-height: 1.75rem;
        font-weight: 400;
    }
    .subtitle-2 {
        font-size: var(--text-sm);
        line-height: 1.57;
        letter-spacing: 0.00714em;
    }
    .body1 {
        font-size: var(--text-base);
        line-height: 1.5;
    }
    p {
        font-size: var(--text-sm);
        line-height: 1.43;
        @apply mb-4;
    }
    .caption,
    .overtext {
        font-size: var(--text-xs);
        line-height: 1.66;
    }
    .overtext {
        line-height: 2.66;
        letter-spacing: 0.08333em;
        text-transform: uppercase;
    }
    .stripes-primary {
        background-image: linear-gradient(45deg, hsl(var(--color-secondary)) 25%, hsl(var(--color-secondary)) 25%, hsl(var(--color-secondary)) 50%, hsl(var(--color-secondary-200)) 50%, hsl(var(--color-secondary-200)) 75%, hsl(var(--color-secondary)) 75%, hsl(var(--color-secondary)));
    }
}


@layer components {
    /* ==============================
       Button Styles
    ============================== */
    .btn,
    .btn-icon {
        @apply relative flex h-10  cursor-pointer items-center justify-center font-medium gap-2 overflow-hidden rounded-md px-5 text-sm whitespace-nowrap subpixel-antialiased transition-all select-none;
        &:hover {
            opacity: 0.85;
        }
        &:disabled,
        &[data-loading="true"] {
            @apply cursor-default opacity-50;
        }
    }
    .btn-icon {
        @apply w-10 p-0 text-lg;
    }

    /* Button Sizes */
    .btn-sm {
        @apply h-8 px-3 text-xs;
        &.btn-icon {
            @apply w-8 text-sm;
        }
    }
    .btn-lg {
        @apply h-12 px-6 text-base;
        &.btn-icon {
            @apply w-12 text-xl;
        }
    }

    .avatar {
        @apply flex size-10 items-stretch justify-center rounded-full border-zinc-300 bg-white text-xs opacity-70 not-[.disabled]:opacity-100 not-[.disabled]:hover:z-10 not-[.disabled]:hover:scale-[1.1] not-[:disbled]:hover:transition-transform;
        & > img {
            @apply rounded-full object-cover;
        }
        & > div,
        i {
            @apply bg-default flex flex-1 items-center justify-center rounded-full text-center text-sm;
        }
    }

    .ping-animation {
        @apply absolute top-0 right-0 -mt-1 -mr-1 flex size-2 bg-primary;
        &::before,
        &::after {
            @apply absolute inline-flex rounded-full content-[''];
        }
        &::before {
            @apply h-full w-full animate-ping bg-inherit/60 opacity-75;
        }
        &::after {
            @apply size-2 rounded-full bg-inherit/50;
        }
    }

    /* ==============================
       Sidebar
    ============================== */
    .sidebar {
        @apply w-[var(--aside-width)] bg-zinc-50 px-6;
        @variant dark {
            @apply bg-slate-900;
        }
        .side-menu {
            @apply text-sm font-medium;
        }
    }

    /* ==============================
       Card
    ============================== */
    .card {
        @apply relative overflow-hidden rounded-2xl bg-white;
        box-shadow: var(--shadow-md);
        .card-body {
            @apply p-6;
        }
        .card-subtitle {
            @apply text-zinc-500;
        }
        @variant dark {
            @apply bg-slate-800;
        }
    }

    .list-group {
    }

    /* ==============================
       Tabs
    ============================== */

    .tabs-bar {
        @apply flex relative rounded-xl z-10 px-1.5;
    }

    .tabs-control {
        @apply cursor-pointer py-3 px-4 text-sm font-medium flex items-center gap-2 justify-center opacity-70 hover:opacity-100 transition-all duration-300;
        &[data-active="true"] {
            @apply opacity-100;
        }
    }

    .animated-tabs-control {
        box-shadow: var(--shadow-tab);
        @apply absolute top-1.5 bottom-1.5 transition-all rounded-lg duration-300 -z-10;
    }

    .tabs-content {
        @apply p-3;
    }

    .tabs-section {
        @apply hidden text-sm;
        &[data-active="true"] {
            @apply block;
        }
    }

    /* ==============================
       Badges
    ============================== */
    .badge,.pills {
        @apply rounded-md text-xs px-2.5 py-1 flex items-center justify-center gap-0.5 whitespace-nowrap font-medium;
    }
    .pills {
        @apply !rounded-full;
    }
    .badge-sm, .pills-sm {
        @apply px-1.5 py-0.5 text-[10px] rounded-sm;
    }
    .badge-lg, .pills-lg {
        @apply px-4 py-1 text-sm font-semibold rounded-lg;
    }

    /* ==============================
       Progress Bar
    ============================== */
    .progress-bar {
        @apply relative h-3 rounded-full bg-zinc-100 mb-4;
        &.progress-bar-lg {
            @apply h-5;
        }
        &.progress-bar-sm {
            @apply h-1;
        }
        &.progress-bar-vertical {
            @apply h-full w-full mb-0 min-h-64;
            .progress-bar-fill {
                @apply bottom-0 top-auto h-0 w-full;
            }
        }
        &.progress-bar-vertical-lg {
            @apply w-5;
        }
        &.progress-bar-vertical-sm {
            @apply w-1;
        }
    }
    .progress-bar-fill {
        @apply absolute top-0 left-0 h-full rounded-full;
    }
    .progress-base-stripes {
        background-image: linear-gradient(45deg, rgba(0,0,0,0.05) 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.05) 50%, rgba(0,0,0,0.05) 75%, rgba(0,0,0,0) 75%, rgba(0,0,0,0));
        background-size: 0.5rem 0.5rem;
    }
    .progress-stripes {
        background-image: linear-gradient(45deg, rgba(255,255,255,0.70) 25%, rgba(255,255,255,0) 25%, rgba(255,255,255,0) 50%, rgba(255,255,255,0.70) 50%, rgba(255,255,255,0.70) 75%, rgba(255,255,255,0) 75%, rgba(255,255,255,0));
        background-size: 1rem 1rem;
    }
}
